.navbar{
    display: inline-block;
    background-color: #C080D6;
    border-radius: 50px;
   font-size: 25px;
   text-align: center;
   word-spacing: 10px;
   height: 100px;
}
.navbar img{
    height: 100px;
    width: 100px;
    margin: 0;
    right: 50px;
    top: 10px;
    position: relative;
    margin-right: 0;
    
}
.navbar li {
     text-align: center;
     display: inline-block;
     margin-left: 5px;
     bottom: 30px;
     position: relative;
     right: 60px;
}
